<div id="main-content">
  <%= form_for @comment, html: { multipart: true } do |f| %>

  <div class="form-group">
      <%= f.label :content %>
      <%= f.text_area :content,  cols: 20, rows: 10, class: "form-control" %>
      <%= @comment.errors[:content].first unless @comment.errors[:content].blank? %>
    <br>
      <%= f.submit :submit, class: "btn btn-default" %>
    
  </div>
</div>
<% end %>

