<div class="container">
      <br>
      <br>
      <%= form_tag import_path multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import" %>
      <% end %>
  <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 50 }'>
    <div class="grid">
      
      <% @articles.each do |article| %>
      <div class="grid-item">
        <h3><%= article.title %></h3>
        <p>
          <%= article.content.truncate(100) %>
          <%= link_to 'Read more', article_path(article.id) %>
        </p>
        <div class="article" id="<%= article.id %>">
          <div class="front">
            <p>
              <span><%= link_to 'Edit', edit_article_path(article.id), class: "btn btn-primary" %> </span>
              <span><%= link_to 'Delete', article_path(article.id), class: "btn btn-primary", method: "DELETE", data: {confirm: 'Delete this data ? '} %> </span>
            </p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <%= paginate @articles %>
</div>